<!-- navbar -->
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- logo -->
      <a class="navbar-item" href="https://bulma.io">
        <img src="../assets/logo.png" alt="Oh, monkey cheat!">
      </a>
      <!-- center input -->
      <div class="control navbar-item">
        <input class="input" type="text">
      </div>
      <!-- right menu -->
      <a class="navbar-burger" role="button" aria-expanded="false" aria-label="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
</header>
